@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app="myApp">
    <style>
        input.ng-invalid {
             background-color:lightblue;
        }
    </style>
    <label>{{color}}</label>
    <div ng-controller="myCt">
        <form name="myform">
            <input type="text" ng-model="FirstName" />
            <input type="text" ng-model="LastName" />
            <label>{{Sum()}}</label>
            <label>{{color}}</label>
            <label ng-click="changename()">{{Name}}</label>

        </form>

    </div>

   

        <script >
            var app = angular.module("myApp", []);
            app.controller("myCt", function ($scope) {
                $scope.FirstName = "Ali",
                    $scope.LastName = "Tahir",
                    $scope.Name = "Happy Birthday",
                    $scope.color = "Green",
                    $scope.changename = function () {
                        $scope.Name = "Happy Birthday Ali! :-)"
                    };

                $scope.Sum = function () {
                    return $scope.FirstName + " " + $scope.LastName;

                };

            });
            app.run(function ($routeScope) {
                $routeScope.color = 'Blue';

            }

            );
           
        </script>
   

    <p>Use the ng-model directive to bind the value of the input field to a property made in the controller.</p>

</body>
</html>