@model Car_Rental_System.Models.tbllocation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tbllocation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="locationId" />
            <div class="form-group">
                <label asp-for="fLocation" class="control-label"></label>
                <input asp-for="fLocation" class="form-control" />
                <span asp-validation-for="fLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tLocation" class="control-label"></label>
                <input asp-for="tLocation" class="form-control" />
                <span asp-validation-for="tLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fDate" class="control-label"></label>
                <input asp-for="fDate" class="form-control" />
                <span asp-validation-for="fDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tDate" class="control-label"></label>
                <input asp-for="tDate" class="form-control" />
                <span asp-validation-for="tDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="streetNo" class="control-label"></label>
                <input asp-for="streetNo" class="form-control" />
                <span asp-validation-for="streetNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="streetAddress" class="control-label"></label>
                <input asp-for="streetAddress" class="form-control" />
                <span asp-validation-for="streetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stateabre" class="control-label"></label>
                <input asp-for="stateabre" class="form-control" />
                <span asp-validation-for="stateabre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

