@model Car_Rental_System.Models.tblReservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>tblReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="resId" />
            <div class="form-group">
                <label asp-for="carId" class="control-label"></label>
                <select asp-for="carId" class="form-control" asp-items="ViewBag.carId"></select>
                <span asp-validation-for="carId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cusid" class="control-label"></label>
                <select asp-for="cusid" class="form-control" asp-items="ViewBag.cusid"></select>
                <span asp-validation-for="cusid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pick_location" class="control-label"></label>
                <input asp-for="Pick_location" class="form-control" />
                <span asp-validation-for="Pick_location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pick_Date" class="control-label"></label>
                <input asp-for="Pick_Date" class="form-control" />
                <span asp-validation-for="Pick_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Return_location" class="control-label"></label>
                <input asp-for="Return_location" class="form-control" />
                <span asp-validation-for="Return_location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Return_Date" class="control-label"></label>
                <input asp-for="Return_Date" class="form-control" />
                <span asp-validation-for="Return_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
